services:
  mongodb:
    image: mongo:latest
    restart: always
    volumes:
      - mongo-data:/data/db
    networks:
      - knox-chatapp

  knox-chat:
    image: rupeshs11/knox-chat:latest
    restart: always
    env_file:
      - .env
    depends_on:
      - mongodb
    networks:
      - knox-chatapp

  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/knoxcloud.tech:/etc/nginx/sites-enabled/knoxcloud.tech:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /var/www/certbot:/var/www/certbot:ro
    depends_on:
      - knox-chat
    networks:
      - knox-chatapp

volumes:
  mongo-data:

networks:
  knox-chatapp:
    driver: bridge
