# EBS StorageClass for dynamic provisioning on AWS EKS
# Used by MongoDB PVC for persistent storage
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: ebs-sc
provisioner: ebs.csi.aws.com
volumeBindingMode: WaitForFirstConsumer
parameters:
  type: gp3
